<div class="row">
    <div class="col-md-6">
        <a class="nav-link" href="#">Claim a Free Quote</a>
        <h2 class="HeafingH2"><span class="get">Get started</span>  on fulfilling
            your Dubai or UAE
            dream.</h2>
        <a class="nav-link p-3" href="#">UAE & Offshore Company</a>
        <p class="para">
            We provide you with information about UAE or
            Offshore Company Registration & help you
            setup your company with a bank account and
            visas.
        </p>
        <div class="button">
             <a class="nav-link rounded" href="#"><span class="bg-primary text-white Start">Start a Company</span>
                    <span class="bg-white text-primary Renew">Renew a Company</span></a>
        </div>
    </div>
    <div class="col-md-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        <input type="text" class="input text-primary p-3 " placeholder="Search a Term | Topic">
        <img class="image" src="assets/img/ILLUSTRATION.png" alt="">
    </div>
</div>
<div class="row line">
    <p class="line1"> Watch the video about UAE or Offshore Company Registration</p>
    <span class="play"><img src="assets/img/Group 117.png" alt=""></span>
</div>
<div>
    <h3 class="mission">
       <span class="get1">Dedicated</span> <br>
        to our mission we are
    </h3>
    <p class="para2">
        Our services include Company Formation & Renewals, 
        Trust & Fiduciary, Tax Residency Setup With Family, Bank 
        Accounts, Remote Management, Stock Trading 
        Platforms, Ownership Solutions.
    </p>
</div>
<div class="row RowInfo">
    <div class="col-md-4">
        <div class="logo">
            <img src="assets/img/dungeon.png" alt="">
        </div>
        <div class="headT">
            UAE Free Zone Company
        </div>
        <div class="para3">
            Your registration agent, will answer all 
            of your questions and help you to reach 
            a conclusion that meets your objectives 
            of investing in the UAE.
        </div>
        <div class="ancar">
            <a href="">Get Started</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="logo">
            <img src="assets/img/Vector-2.png" alt="">
        </div>
        <div class="headT">
            Dubai Local Companies
        </div>
        <div class="para3">
            The Dubai LLC formation documents 
            are actually articles of organization or a 
            certificate of organization. You can get 
            yours today.
        </div>
        <div class="ancar">
            <a href="">Get Started</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="logo">
            <img src="assets/img/Vector-1.png" alt="">
        </div>
        <div class="headT">
            Offshore Compamies
        </div>
        <div class="para3">
            You can register an offshore company 
            and open its bank account in Dubai. 
            Your agent will help you along all the 
            process
        </div>
        <div class="ancar">
            <a href="">Get Started</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="learn">
            <p>
                Learn the ways in which you can benefit 
                from a UAE/Offshore Company. Then get 
                started on fulfilling your UAE dream.
            </p>
            <div class="Claim">
                <a href="">Claim a Free Quote</a>
            </div>
        </div>
        <div class="bank">
            <div class="img-b">
                <img src="assets/img/ILLUSTRATION 03  1.png" alt="">
            </div>
            <h3>
                Bank Account Setup
            </h3>
            <p>
                There are many banks in the United 
                Arab Emirates [UAE]. Both locally 
                owned and branches of 
                multinational ones. Foreign banks 
                adjust according to their parent s 
                strategies and have changed local 
                requirements overnight in the past. 
                But we are here to help you.
            </p>
            <a href="">Learn more <span><img src="assets/img/Vector.png" alt=""></span></a>
        </div>
        <div class="bank">
            <div class="img-b">
                <img src="assets/img/Group-2.png" alt="">
            </div>
            <h3>
                UAE Company Visas
            </h3>
            <p>
                Your application for visas is critical 
                especially if you intend to move to 
                Dubai. This becomes even more 
                urgent if your family will also move 
                with you. All the paperwork is done 
                on your behalf smoothly so that you 
                may only focus on doing what 
                matters most to you.
            </p>
            <a href="">Learn more <span><img src="assets/img/Vector.png" alt=""></span></a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="bank">
            <div class="img-b">
                <img src="assets/img/Group.png" alt="">
            </div>
            <h3>
                Advice & Guidance
            </h3>
            <p>
                All activities in the UAE are licensed. 
                Whether manufacturing, finance, 
                trading, marketing, consultancy or 
                restaurants. In some countries only 
                manufacturing is licensed. In others 
                there is a threshold below which 
                business are encouraged. Get our 
                insightfull guidance today.
            </p>
            <a href="">Learn more <span><img src="assets/img/Vector.png" alt=""></span></a>
        </div>
        <div class="bank">
            <div class="img-b">
                <img src="assets/img/Group-1.png" alt="">
            </div>
            <h3>
                Registration Document 
                Perparation
            </h3>
            <p>
                Several documents must be 
                prepared to start the process of 
                registering a new company in the 
                United Arab Emirates. Be it a Dubai 
                local company, a free zone one or an 
                offshore entity. Your registered 
                agent is dedicated to get this done 
                for you for a seamless process.
            </p>
            <a href="">Learn more <span><img src="assets/img/Vector.png" alt=""></span></a>
        </div>
        <div class="learn">
            <p>
                We have gathered a team of 
                professionals to craft adequate 
                services you can rely on for a friction 
                free setup in UAE.
            </p>
            <div class="Claim">
                <a href="">More about our services</a>
            </div>
        </div>
    </div>
</div>
<div class="Most">
    <p>
        Most <span class="get1"> popular affordable pricing </span> per 
        jurisdictions are brought to you to 
        kick off your adventure.
    </p>
</div>
<div class="row">
    <div class="col-md-4 box">
        <div class="AJMAN">
            AJMAN OFFSHORE
        </div>
        <div class="Payment">
            $2,997 <span class="one">One Time Payment</span> 
        </div>
        <div class="Company">
            Ajman Offshore New Company 
            formation includes
        </div>
        <div class="List">
            <ul>
                <li><span><img src="assets/img/Group 35.png" alt=""></span> Attestation Charges</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Registered Agent</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Registered Office</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Varal Administrative</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Preparing Statutory File</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Liasing with Registration Authorities</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Due Diligence Appraisal</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Keeping The Register</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Seal Charges</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Certificate of Good Standing</li>
            </ul>
        </div>
        <div class="Continue">
            <button>Continue</button>
        </div>
    </div>
    <div class="col-md-4 box2">
        <div class="AJMAN2">
            RAK ICC
        </div>
        <div class="Payment2">
            $2,997 <span class="one">One Time Payment</span> 
        </div>
        <div class="Company2">
            Rak Icc New Company formation 
            includes
        </div>
        <div class="List2">
            <ul>
                <li><span><img src="assets/img/Group 35.png" alt=""></span> Attestation Charges</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Registered Agent</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Registered Office</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Varal Administrative</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Preparing Statutory File</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Liasing with Registration Authorities</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Due Diligence Appraisal</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Keeping The Register</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Seal Charges</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Certificate of Good Standing</li>
            </ul>
        </div>
        <div class="Continue2">
            <button>Continue</button>
        </div>
    </div>
    <div class="col-md-4 box">
        <div class="AJMAN">
            SHARJAH MEDIA CITY
        </div>
        <div class="Payment">
            $4,124  <span class="one">One Time Payment</span> 
        </div>
        <div class="Company">
            Sharjah Media City New 
            Company formation include 
        </div>
        <div class="List">
            <ul>
                <li><span><img src="assets/img/Group 35.png" alt=""></span> Attestation Charges</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Registered Agent</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Registered Office</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Varal Administrative</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Preparing Statutory File</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Liasing with Registration Authorities</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Due Diligence Appraisal</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Keeping The Register</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Seal Charges</li>
                <li><span><img src="assets/img/Group 35.png" alt=""></span>Certificate of Good Standing</li>
            </ul>
        </div>
        <div class="Continue">
            <button>Continue</button>
        </div>
    </div>
</div>
<div class="row footer">
    <div class="col-md-5">
        <div class="read">
            <p>Read about our blogs for more 
                information on our processes </p>
        </div>
        <div class="how">
            <span><img src="assets/img/Vector-4.png" alt=""></span>
            <span><p>How to start a company 
                formation in Dubai</p>
            <a href="">5 Minutes</a></span>
        </div>  
        <div class="how">
            <span><img src="assets/img/Vector-4.png" alt=""></span>
            <span><p>How to start an Offshore 
                company formation in Dubai</p>
            <a href="">5 Minutes</a></span>
        </div>
        <div class="how">
            <span><img src="assets/img/Vector-4.png" alt=""></span>
            <span><p>SEO Dubai: Who benefits 
                the most?</p>
            <a href="">5 Minutes</a></span>
        </div>
        <div class="read">
            <p>Satidfied We are When Our 
                Customers Are Happy </p>
        </div>
        <div class="name">
            <img src="assets/img/Vector-3.png" alt="">
            <span class="rama">
               " I am very happy with them. I’ll 
                continue to use their services in 
                future & highly recommend them 
                to anyone," 
                <br><span class="muhib">Muhib Abrar</span> 
            </span>
        </div>
        <div class="name">
            <img src="assets/img/Vector-3.png" alt="">
            <span>
                " Rama has a high level of integrity, 
                intellect, knowledge of his 
                business, resourcefulness and 
                humanity,"
                <br><span class="muhib">Colin Saldahna</span> 
            </span>
        </div>
        <div class="name">
            <img src="assets/img/Vector-3.png" alt="">
            <span>
               "Your advise was so complete that I 
                actually realized how beneficial 
                this would be to my clients and my 
                business." 
                <br><span class="muhib">Mark Swann</span> 
            </span>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <div class="read">
            <p>Get to know the whole us and 
                more of our services</p>
        </div>
        <div class="Services">
            Services
            Products

            Solutions
            
            Assurance
            
            FAQ
        </div>
         <div class="working"> Working at Varal-Singhania</div>
        
          <div class="Policies">
            Policies<br>
            Privacy Policy

            Terms & Conditions
        </div>
        <div class="About">
            About<br>
            About Us<br>

            Contact Us

        </div>
        <div class="Address">
            Address <br>
            608 One Lake Plaza, Cluster T,<br>

            Al Sarayat Street, Jumeirah 
            Lake Towers<br>

            Dubai<br>

            United Arab Emirates<br>

            Office Hours: Sunday to 
            Thursday 8:30 AM to 6:30 PM 
            [GMT+4]<br>

            M: +971 55 794 2016<br>

            O: +971 4 447 2061
        </div>
        <div class="Subscribe">
            Subscribe Now<br>
            Sunbscribe now to receive our 
            Newsletters about amazing 
            opportunities in Dubai

        </div>
        <div class="enter">
            <input type="text" class="input" placeholder="Enter email address"><span><img src="assets/img/Group 34.png" alt=""></span>
        </div>
        <div class="social">
            <img src="assets/img/Vector-5.png" alt="">
            <img src="assets/img/Vector-6.png" alt="">
            <img src="assets/img/Vector-8.png" alt="">
            <img src="assets/img/Vector-7.png" alt="">
        </div>
    </div>
</div>
<div class="row right" style="display: block;">
    Varaluae 2021 C All Right Reserved
</div>